<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/country">Country</a></li>
          </ul>
      </nav>
    </header>
  
      <div class="content">
        <p>country/Danmark</p><br>
        <p>country/Frankrig</p><br>
        <p>country/Etiopien</p><br>
        <p>country/Ghana</p><br>
        <p>country/Kina</p><br>
        <p>country/Japan</p><br>
        <p>country/USA</p><br>
        <p>country/Canada</p><br>
        <p>country/Columbia</p><br>
        <p>country/Venezuela</p><br>
        <p>country/Australien</p><br>
        <p>country/New Zealand</p>
      </div>
  </body>
</html>