<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/country">Country</a></li>
          </ul>
      </nav>
    </header>
  
      <div class="content">
        <p>Navn:</p><br>
        <p>Kontinent:</p>
      </div>
  </body>
</html>