<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/country">Country</a></li>
          </ul>
      </nav>
    </header>
  
      <div class="content">
        <p>Navn: <%# country.Navn %>%></p><br>
        <p>Kontinent: <%# country.Kontinent %></p><br>
        <p>Areal: <%# country.Areal %></p><br>
        <p>Befolkningstal: <%# country.Befolkningstal %></p><br>
        <p>Styreform: <%# country.Styreform %></p>
      </div>
  </body>
</html>